# Dependencies
/vendor
/node_modules

# Build files
/public/build
/public/hot
/public/storage

# Laravel specific
/bootstrap/cache
/storage
/.phpunit.cache

# Lock files
composer.lock
package-lock.json
yarn.lock
